/* Global CSS */
* {
    
}

/* Header CSS */
header {
    display: flex;
    justify-content: space-between;
    width: auto;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
    #top-menu img {
        padding: 0 10px;
    }
    
    #top-menu #title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: MediumAquamarine;
        padding: 0px 10px;
    }
    
    #top-menu nav span {
        display: inline-block;
        padding: 20px 10px;
    }
    
    #top-menu nav a {
        color: black;
    }





